main {
    background-image: url(images/back-signup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imglogo {
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}

.imglogo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.container {
    align-items: center;
    justify-content: center;
}

.account {
    color: black;
}

.account:link {
    color: black;
}

.account:visited {
    color: black;
}

.account:hover {
    color: #8bc052;
}

.btn1 {
    background-color: #9ed368;
    border-radius: 30px;
    border: 2px solid #9ed368;
    margin-left: 10px;
    width: 90px;
    height: 40px;
}

.btn1:hover {
    background-color: #8bc052;
    color: black;
    border: 2px solid #8bc052;
}

.btn2 {
    width: 70px;
    height: 40px;
    border: 2px solid;
    border-color: #8bc052;
    border-radius: 30px;
    margin-left: 10px;
}

.btn2:hover {
    background-color: #8bc052;
}

.mother-div {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 0px;
}
.side-bar-options {
    margin-bottom: 30px;
    background-color: #9ed368;
    border-radius: 5px;
    border: 2px solid #9ed368;
    margin-left: 10px;
    width: 20vw;
    height: 5vh;
    font-size: 1.5rem;
}
.side-bar-options:hover {
    background-color: #8bc052;
    color: black;
    border: 2px solid #8bc052;
}
.side-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 25vw;
    border-right: 3px solid #8bc052;
}
.window {
    width: 75vw;
    /* background-color: cadetblue; */
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    border-left: 3px solid #8bc052;
}
.logos {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    padding: 15px;
    border: 3px solid #9ed368;
    border-radius: 15px;
    background-color: white;
}
.logos button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    background-color: #b4bdb1;
    border-radius: 50px;
}
.logos img {
    width: 100px;
    height: 100px;
}
.logos button:hover {
    background-color: #9ed368;
    transition: 1s ease-in-out;
}
.logos button:focus {
    background-color: #9ed368;
}
.haha {
    width: 600px;
    height: 450px;
    border: 3px solid #9ed368;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}
.search-div {
    display: flex;
    margin-bottom: 10px;
}
.haha button {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
    background-color: #9ed368;
    box-shadow: none;
    border: 2px solid #9ed368;
    margin-left: 10px;
}
.field {
    padding: 5px;
    border: 2px solid #8bc052;
    border-radius: 5px;
    height: 40px;
    outline: none;
}

.search-icon {
    width: 20px;
    height: 20px;
}
.haha button:hover {
    background-color: #8bc052;
    border: 2px solid #8bc052;
}
.myform {
    display: flex;
    flex-direction: column;
}

.myform button {
    margin-top: 20px;
    width: 100px;
    padding: 0;
}
.content p {
    font-size: 30px;
}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.myform button {
    margin-top: 20px;
    margin-left: 0;
    width: 100px;
    padding: 0;
}
